/* Global setting */
:root {
  /* Color */
  --text-color: #f0f4f5;
  --background-color: #263343;
  --color-white: #faf9f9;

  --color-light-white: #eeeeee;

  --color-dark-white: #bdbdbd;

  --color-pink: #fe918de7;

  --color-dark-pink: #f7726e;

  --color-dark-grey: #4d4d4d;

  --color-grey: #616161;

  --color-light-grey: #7c7979;

  --color-blue: #73aace;

  --color-yellow: #fff7d1;

  --color-dark-yellow: #f5d06a;

  --color-orange: #feb546;

  --color-black: #000000;

  /*--accent-color:red;;*/
  /*  Font Size */
  --font-large: 48px;

  --font-medium: 28px;

  --font-regular: 18px;

  --font-small: 16px;

  --font-micro: 14px;
  /* Font weight */
  --weight-bold: 700;

  --weight-semi-bold: 600;

  --weight-regular: 400;
  /* Size */
  --size-border-radius: 6px;

  /* Annimation */
  --animation-duration: 300ms;
}

/*  Uiversal tags 공통적으로 들어가는 것 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Alegreya", sans-serif;
  cursor: default; /*마우스 커서가 텍스트에 가도 변하지 않음*/
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography: heading, font에 대해 */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-dark-yellow);
  align-items: center;
  color: var(--color-white);
  text-shadow: 1px 0px rgba(55, 111, 233, 0.918);
  padding: 0px 10px;
}

.navbar__menu {
  display: flex;
}

.logoimg {
  /* font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold); logo를 icon으로 바꾸면 이걸 적용 */
  width: 40px;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  font-size: var(--font-regular);
  cursor: pointer; /*메뉴아이템에 커서를 올리면 포인터로 변함*/
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-blue);
}

.navbar__menu__item:hover {
  background-color: var(--color-orange);
}

/* Home */

#home {
  background: url("image/bg2.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}

.home__avatar {
  width: 210x;
  height: 230px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__titile,
.home__description {
  color: var(--color-light-white);
  text-shadow: 1px 1.2px rgba(102, 160, 47, 0.966);
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid rgb(241, 232, 224);
  border-radius: var(--size-border-radius);
  text-shadow: 1px 1px rgb(182, 212, 74);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  max-width: 1000px;
  margin: auto;
}
/* About - 나는 경력이 없어서 학교만 */

.about__experience,
.shool__decription {
  align-items: center;
  margin: 30px 26px;
  text-align: right; /*글씨정렬*/
}

.school {
  display: flex;
  align-items: center;
  margin: 10px 16px;
  justify-content: space-between;
}
.school__logo {
  height: 100px;
}

.shcool__name,
.shcool__period {
  color: var(--color-light-grey);
}

.shcool__name {
  size: var(--font-small);
}

.shcool__period {
  size: var(--font-micro);
}

/* Skills - major */

.about__majors {
  display: flex; /*major를 옆으로 나란히, 안하면 아래로 정렬됌*/
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  line-height: 170px; /*line height을 높이만큼 주면 안의 아이템에 중간으로 배치 */
  /* background-color: green; 임시적으로 아이콘의 사이즈를 보기위함 */
  font-size: 70px;
  margin: auto;
  border: 1px solid var(--color-dark-pink);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-pink);
}
.major__icon i {
  /*급작하게 변하는 대신에 효과주는 것 */
  transition: all var(--animation-duration) ease; /*250-300ms가 적당*/
}

.major__icon:hover i {
  /*
  major__icon:hover 을하면 동그라미부터 전체에 효과 
  major__icon i:hover를 하면 i에 닿았을 때만 효과
  major__icon:hover i하면 동그라미에 호버 되도 안에 있는 i에만 효과, i만 움직임*/
  color: var(--color-blue);
  transform: scale(1.1);
}

.major__title,
.major__description {
  color: var(--color-dark-grey);
}

.major__description {
  font-size: var(--font-small);
}

/* Skills  - skillset*/

#skills {
  background-color: var(--color-yellow);
}
.skillset {
  background-color: var(--color-light-grey);
  display: flex;
  color: var(--color-light-white);
}

.skillset__title {
  color: var(--color-white);
  margin: auto;
  font-weight: var(--weight-semi-bold);
  text-shadow: 1px 1px var(--color-black);
}

.skillset__left {
  flex-basis: 60%; /*스킬셋 안에서 left가 60 right이 40 차지 */
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill {
  margin-bottom: 32px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}

.skill_value {
  /* width: 70%; css에서 정의하면 전체 value값을 지정해서
  html에서 각각 지정해주고 따로 추출해서 json으로 관리하고
  json에서 동적으로 받아온 데이터를 html코드로 변환해서 입력
  html에 style태그를 인라인화  */
  height: 3px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* My Work */
.work__categories {
  margin: 40px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-orange);
  color: var(--color-white);
}

/* .category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
} */
.category__count {
  background-color: var(--color-dark-pink);
  border-radius: 50%;
  color: var(--color-white);
  width: 23px;
  height: 23px;
  line-height: 23px;
  display: inline-block; /*span속성이라서 컨텐츠를 꽉 감싸는 사이즈라 동그라미가 예쁘게 안나옴 그래서 속성을 변경*/
  /* position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in; */
}

.work__projects {
  display: flex;
  flex-wrap: wrap; /*아이템이 꽉차면 자동으로 줄바꿈*/
  justify-content: center;
}

.project {
  position: relative; /*아래의 project_descrition을 위함*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 250px;
  margin: 2px;
  background-color: beige;
}

.project__img {
  /*이미지들이 자기가 담긴 컨테이너 안에만 꽉차게*/
  max-width: 100%;
  max-height: 100%;
}

.project__descrition {
  position: absolute; /*박스에서 나와서 포지션이 스테틱이 아닌 부모를 찾아 이동 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0; /*호버되지 않았을 때*/
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}
.project:hover .project__descrition {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__descrition h3 {
  color: var(--color-white);
}

.project__descrition h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 1.5px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}
/* /////////////////////////////////////////////////// */
/*  ///////////// 아래는 내가 공부전에 한 것*/
/* a {
  text-decoration: none;
  color: var(--text-color);
} */

/* nav a {
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  text-shadow: 1px 0px rgba(255, 0, 0, 0.863);
} */

nav li {
  font-weight: bold;
}

/* .logoimg {
  width: 55px;
} */

.project img {
  width: 150px;
}

/* .home__avatar {
  width: 250px;
} */

/* 
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
  font-size: 20px;
} 


// section

#aboutMe {
  height: 700px;
  background-color: #f1d1d1;
  display: inline-block;
  width: 100%;
}

#skills {
  height: 700px;
  background-color: rgb(228, 225, 76);
  display: inline-block;
  width: 100%;
}

#myWork {
  height: 700px;
  background-color: pink;
  display: inline-block;
  width: 100%;
}

#contact {
  height: 700px;
  background-color: rgb(145, 236, 236);
  display: inline-block;
  width: 100%;
}

*/
