/* Global setting */
:root {
  /* Color */
  --text-color: #f0f4f5;
  --background-color: #263343;
  --color-white: #ffffff;

  --color-light-white: #eeeeee;

  --color-dark-white: #bdbdbd;

  --color-pink: #fe918d;

  --color-dark-pink: #ff6863;

  --color-dark-grey: #4d4d4d;

  --color-grey: #616161;

  --color-light-grey: #7c7979;

  --color-blue: #73aace;

  --color-yellow: #fff7d1;

  --color-orange: #feb546;

  --color-black: #000000;

  /*--accent-color:red;;*/
  /*  Font Size */
  --font-large: 48px;

  --font-medium: 28px;

  --font-regular: 18px;

  --font-small: 16px;

  --font-micro: 14px;
  /* Font weight */
  --weight-bold: 700;

  --weight-semi-bold: 600;

  --weight-regular: 400;
  /* Size */
}
/*  Uiversal tags 공통적으로 들어가는 것 */
* {
  box-sizing: border-box;
}

/* Typography: heading, font에 대해 */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/*  */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Alegreya";
}

a {
  text-decoration: none;
  color: var(--text-color);
}

nav a {
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  text-shadow: 1px 0px rgba(255, 0, 0, 0.863);
}

nav li {
  font-weight: bold;
}

.logoimg {
  width: 55px;
}

.project img {
  width: 150px;
}

.home__avatar {
  width: 250px;
}

/* 
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
  font-size: 20px;
} 


// section

#aboutMe {
  height: 700px;
  background-color: #f1d1d1;
  display: inline-block;
  width: 100%;
}

#skills {
  height: 700px;
  background-color: rgb(228, 225, 76);
  display: inline-block;
  width: 100%;
}

#myWork {
  height: 700px;
  background-color: pink;
  display: inline-block;
  width: 100%;
}

#contact {
  height: 700px;
  background-color: rgb(145, 236, 236);
  display: inline-block;
  width: 100%;
}

*/
